/*
===============================
=== RESET ===
===============================
*/

*{
	margin: 0;
	padding: 0;
}

/*
=======================
======= ESTILOS =======
====== GENERALES ======
=======================
*/

.container{
    max-width: 1200px;
    margin: auto;
	font-family: arial, helvetica, sans-serif;
}


header, main, footer {
	width: 100%;
	margin: 10px auto 0px auto;
}

a{
    text-decoration: 0;
    color: #808080;    
}

a:hover{
    text-decoration: 0;
    color: #161616;    
}

p {
	font-family: 'Hind Madurai', sans-serif;
	color: #727272;
	font-size: 14px;
}

h1 {
	font-size: 20px;
	font-family: 'Noto Sans Mende Kikakui', sans-serif;
}

/*
==============
=== HEADER ===
==============
*/
.container1 { 
	margin: 5px 5px 0px 5px;
	padding: 5px 5px 0px 5px;
	background-image: url("../img/header.jpg");
	background-repeat : no-repeat;
	background-color : #ffffff;
	background-size:cover;
	background-position: center;
	display: flex; 
	flex-direction: column; 
	align-items: stretch;
	justify-content: center;
}

.item1{
	margin: 10px 10px 5px 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;	
}

.imagen-1{
    width: 3rem;
}

.subitem1{
	width: 20%;
	margin: 10px ;
	padding: 10px;
	flex-grow: 1;
}


.subitem1:nth-child(2){ /* child selector */
	width: 80%;
	display: flex;
	flex-direction: row;
} 

.menu-principal li{
    display: inline-block;
    margin: 0.5rem;
    font-size: 1rem;
    text-decoration: 0;
}

.menu-principal1, .menu-principal2, .menu-principal3,.menu-principal4,.menu-principal5 {
    list-style: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 1.5rem;
              /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
}

.menu-principal1{
	background-image: url("../img/iconos/house-chimney-solid.svg");
	background-size: 30%; 
}

.menu-principal2{
	background-image: url("../img/iconos/map-location-dot-solid.svg");
	background-size: 30%; 
}

.menu-principal3{
	background-image: url("../img/iconos/square-h-solid.svg");
	background-size: 20%;
}

.menu-principal4{
	background-image: url("../img/iconos/plane-solid.svg");
	background-size: 25%; 
}

.menu-principal5{
	background-image: url("../img/iconos/envelope-open-text-solid.svg");
	background-size: 20%;
}



.item2{
	margin: 10px 80px 0px 80px;
	padding: 5px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch; 
}

.subitem2{
	margin: 10px 10px 0px 10px;
	padding: 5px;
	background-color: #00000013 ;
	opacity: .7;
	height: auto;
	text-align: center;
	color: #F49E7E;
	font-family: 'IM Fell Double Pica', serif;
}

.menu-rrss li{
    display: inline-block;
    margin: 0.5rem;
    font-size: 1rem;
    text-decoration: 0;
}

.menu-twitter, .menu-facebook {
	list-style: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 1rem;
    background-size: 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
}

.menu-twitter{
	background-image: url("../img/iconos/twitter.svg");
}


.menu-facebook {
	background-image: url("../img/iconos/square-facebook.svg");
}

/*
=======================
=== MAIN ===
=======================
*/

.container2 {
	margin: 5px;
	padding: 5px 5px 0 5px;
	background-color: #ffffff;
	display: flex;
	align-items: stretch;
	
}

.item3{
	width: 75%;
	margin: 10px 5px 10px 10px;
	padding: 10px;
	background-color: #D8D7D7;
	display: flex;
	flex-wrap: wrap;
}

.subitem3{
	width: 36.5%;
	margin: 10px;
	padding: 10px;
	background-color: #F5F1F1;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

}

.subitem3:nth-child(5){ /* child selector */
	width: 100%;
	background-color: #D8D7D7;
} 

subitem3a{
	background-image: url("../img/sakura.jpg");
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-size:cover;
	background-position: center;
}
.imagen-2{
    width: 100%;
}

.subitem3b{
	background-color: #F08080;
	color: #ffffff;
	margin: 1px 0 20px 0;
	padding: 1px 0 1px 5px;
	display: flex;
	vertical-align: text-top;  
	align-items: flex-end;
}

.subitem3c{
	column-count: 2;

}
.subitem3d{
	margin: 15px 0 0 0;
	padding: 0;
}

p.oscuro {
	color: #383838;
}

.item4{
	width: 25%;
	margin: 10px 10px 10px 5px;
	padding: 10px;
	background-color: #D8D7D7;
}

.subitem4{
	margin: 10px;
	padding: 10px;
	background-color: #D8D7D7;

}

/*
=======================
=== FOOTER ===
=======================
*/

.container3 { 
	margin: 5px;
	padding: 0 5px;
	background-color: #D8D7D7;
}

.item5{
	margin: 0 5px ;
	padding: 30px;
	background-color: #F5F1F1;
	display: flex;
	justify-content: center;
}


/* Tablet*/

@media (min-width: 451px) and (max-width: 861px) { 
	.container1 { 
			padding: 10px;
	}
	
	.container2 { 
		padding: 10px;
		background-color: #FFF734;
		display: flex;
		flex-direction: column; 
	}

	.item3{
		width: auto;
		margin: 5px;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
	}
		
	.item4{
		width: auto;
		margin: 5px;
		padding: 10px;
		}

	.container3 { 
		padding: 10px;
	}
	
}

/*Moviles*/

@media (max-width: 450px) { 

	.container1 { 
		padding: 10px;
	}

	.item1{
		margin: 10px 10px 5px 10px;
		padding: 10px;
		display: flex;
		flex-direction: column;
	}
		
	.subitem1{
		width: auto;
		margin: 10px ;
		padding: 10px;
		background-color: #EA584B;
		flex-grow: 1;
	}

	.subitem1:nth-child(2){ /* child selector */
		width: auto;
	} 

	.container2 { 
		padding: 10px;
		background-color: #FFD939;
		display: flex;
		flex-direction: column; 
	}

	.item3{
		width: auto;
		margin: 10px;
		padding: 10px;
		background-color: #004763;
	}

	.subitem3{
		width: 100%;
		margin: 10px;
		padding: 10px;
		background-color: #558991;
		display: flex;
	}
		
	.subitem3:nth-child(5){ /* child selector */
		width: auto;
		background-color: #97D4C5;
	} 
		
	.item4{
		width: auto;
		margin: 5px;
		background-color: #FF784C;
		padding: 10px;
	}

	.subitem4{
		margin: 10px;
		padding: 10px;
		background-color: #FFAB64;
	}

	.container3 { 
		padding: 10px;
	}
	
	.item5{
		background-color: #FFBF60;
	
	}



	}




