/*
===============================
=== RESET ===
===============================
*/

*{
	margin: 0;
	padding: 0;
}

/*
=======================
======= ESTILOS =======
====== GENERALES ======
=======================
*/

.container{
    max-width: 1200px;
    margin: auto;
}


header, main, footer {
	width: 100%;
	margin: 10px auto;
}


/*
==============
=== HEADER ===
==============
*/
.container1 { 
	margin: 5px;
	padding: 5px;
	background-color: #000000;
	display: flex; 
	flex-direction: column; 
}

.item1{
	margin: 10px 10px 5px 10px;
	padding: 10px;
	background-color: #27394E;
	display: flex;
	flex-direction: row;	
}


.subitem1{
	width: 20%;
	margin: 10px ;
	padding: 10px;
	background-color: #EA584B;
	flex-grow: 1;
}

.subitem1:nth-child(2){ /* child selector */
	width: 80%;
} 

.item2{
	margin: 5px 10px 10px 10px;
	padding: 10px;
	background-color: #F0763A;
}


.subitem2{
	margin: 10px;
	padding: 10px;
	background-color: #FFCC5E;
}

/*
=======================
=== MAIN ===
=======================
*/

.container2 {
	margin: 5px;
	padding: 5px;
	background-color: #000000;
	display: flex;
	align-items: stretch;
}

.item3{
	width: 75%;
	margin: 10px 5px 10px 10px;
	padding: 10px;
	background-color: #44465E;
	display: flex;
	flex-wrap: wrap;
}

.subitem3{
	width: 36.5%;
	margin: 10px;
	padding: 10px;
	background-color: #1664A4;
	display: flex;
	flex-grow: 1;

}

.subitem3:nth-child(5){ /* child selector */
	width: 100%;
	background-color: #6399BB;
} 


.item4{
	width: 25%;
	margin: 10px 10px 10px 5px;
	padding: 10px;
	background-color: #F94C47;
}

.subitem4{
	margin: 10px;
	padding: 10px;
	background-color: #FFE380;

}

/*
=======================
=== FOOTER ===
=======================
*/

.container3 { 
	margin: 5px;
	padding: 5px;
	background-color: #000000;
}

.item5{
	margin: 10px;
	padding: 10px;
	background-color: #E4A434;
}


/* Tablet*/

@media (min-width: 451px) and (max-width: 861px) { 
	.container1 { 
			padding: 10px;
	}
	
	.container2 { 
		padding: 10px;
		background-color: #FFF734;
		display: flex;
		flex-direction: column; 
	}

	.item3{
		width: auto;
		margin: 5px;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
	}
		
	.item4{
		width: auto;
		margin: 5px;
		padding: 10px;
		}

	.container3 { 
		padding: 10px;
	}
	
}

/*Moviles*/

@media (max-width: 450px) { 

	.container1 { 
		padding: 10px;
	}

	.item1{
		margin: 10px 10px 5px 10px;
		padding: 10px;
		display: flex;
		flex-direction: column;
	}
		
	.subitem1{
		width: auto;
		margin: 10px ;
		padding: 10px;
		background-color: #EA584B;
		flex-grow: 1;
	}

	.subitem1:nth-child(2){ /* child selector */
		width: auto;
	} 

	.container2 { 
		padding: 10px;
		background-color: #FFD939;
		display: flex;
		flex-direction: column; 
	}

	.item3{
		width: auto;
		margin: 10px;
		padding: 10px;
		background-color: #004763;
	}

	.subitem3{
		width: 100%;
		margin: 10px;
		padding: 10px;
		background-color: #558991;
		display: flex;
	}
		
	.subitem3:nth-child(5){ /* child selector */
		width: auto;
		background-color: #97D4C5;
	} 
		
	.item4{
		width: auto;
		margin: 5px;
		background-color: #FF784C;
		padding: 10px;
	}

	.subitem4{
		margin: 10px;
		padding: 10px;
		background-color: #FFAB64;
	}

	.container3 { 
		padding: 10px;
	}
	
		.item5{
		background-color: #FFBF60;
	}



	}




