/*
===============================
=== RESET ===
===============================
*/

*{
	margin: 0;
	padding: 0;
}

/*
=======================
======= ESTILOS =======
====== GENERALES ======
=======================
*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}


header, main, footer {
	width: 100%;
	max-width: 1200px;
	margin: 1rem auto;
}


/*
==============
=== HEADER ===
==============
*/
.container1 { 
	padding: 5px;
	background-color: #000000;
	display: flex; 
	justify-content: space-between; 
	align-items: stretch;
	flex-direction: column; 
}

.item1{
	margin: 10px 10px 5px 10px;
	padding: 10px;
	background-color: #27394E;
	display: flex;
	flex-direction: row;	
}


.subitem1{
	width: 20%;
	margin: 10px;
	padding: 10px;
	background-color: #EA584B;
	flex-grow: 1;
}

.subitem1:nth-child(2){ /* child selector */
	width: 80%;
} 

.item2{
	margin: 5px 10px 10px 10px;
	padding: 10px;
	background-color: #F0763A;
}


.subitem2{
	margin: 10px;
	padding: 10px;
	background-color: #FFCC5E;

}

/*
=======================
=== MAIN ===
=======================
*/

.container2 { 
	padding: 5px;
	background-color: #000000;
	display: flex; 
	justify-content: space-between; 
	align-items: stretch;
	flex-direction: row; 
}

.item3{
	width: 70%;
	margin: 10px 5px 10px 10px;
	padding: 10px;
	background-color: #44465E;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
}


.subitem3{
	width: 45%;
	margin: 10px 5px 10px 5px;
	padding: 10px;
	background-color: #1664A4;
	

}

.subitem3a{
	width: 100%;
	margin: 10px 5px 10px 5px;
	padding: 10px;
	background-color: #6399BB;
	}


.item4{
	width: 30%;
	margin: 10px 10px 10px 5px;
	padding: 10px;
	background-color: #F94C47;
	text-align: center;

}

.subitem4{
	
	margin: 10px;
	padding: 10px;
	background-color: #FFE380;

}

/*
=======================
=== FOOTER ===
=======================
*/

.container3 { 
	padding: 5px;
	background-color: #000000;
	display: flex; 
	justify-content: space-between; 
	align-items: stretch;
	flex-direction: column; 
}
.item5{
	
	margin: 10px;
	padding: 10px;
	background-color: #E4A434;
	text-align: center;

}
.subitem5{
	
	margin: 10px;
	padding: 10px;
	background-color: #E4A434;

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 	

	body{
		background-color: red;
	} 

}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) { 

	body{
		background-color: yellow;
	} 

}

/* Medium devices (tablets, 768px and up)*/


@media (min-width: 768px) and (max-width: 991.98px) { 
	
	body{
		background-color: blue;
	} 

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

	body{
		background-color: grey;
	} 


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	
	body{
		background-color: blue;
	} 

}